.cycle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cycleDot{
  display: flex;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50% ;
}

.focus{
  background-color: var(--primary);
}


.shortBreak{
  background-color: var(--secondary);
}


.longBreak{
  background-color: var(--terceary);
}


.cycleDots{
  display: flex;
  align-items: center;
  gap: 0.8rem ;
}

.cycleText{
  font-size: 1rem;
  font-weight: 400;
}
