.focusFlame {
  width: 18rem;
  height: 18rem;
  margin: 0;
  border: 3px solid var(--border-muted);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.flameImage {
  width: 10rem;
  height: 10 rem;
  object-fit: contain;
}
