.heading {
  color: var(--primary);
  margin: 0;
  display: flex;
  align-items: center;
  justify-self: start;
  gap: 16px;
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.28em;
  line-height: 1;
}
